    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          {{!-- <p style="color:#5B8899;">Something here...</p> --}}
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h3 style="color:#5B8899;">How it works</h4>

            <div class="icon-box wow fadeInUp">
             <a href="/colors" target="_blank"><div class="icon"><i class="fa fa-tint"></i></div></a> 
              <h4 class="title"></h4>
              <p class="description" style="color:#5B8899;">Click here to find your color</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-check"></i></div>
              <h4 class="title"><a href=""></a></h4>
              <p class="description" style="color:#5B8899;">Select color and send us a message</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-calculator"></i></div>
              <h4 class="title"><a href=""></a></h4>
              <p class="description" style="color:#5B8899;">We estimate.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/flying.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h3 style="text-align:center; color:#5B8899;">Color Phsycology</h3>
            <br>
            <ul>
              <i class="fa fa-check-circle" style="color:Green"><span class="fa"></span>
              <hr>
                  <p>Green is the color of nature. Calm and relaxing, green can also be described as joyful, harmonious, energized and filled with life. Those who like green are said to believe in balance, stability and persistence. Bring energy to a room by painting it a shade of lime green.</p>
              </i>
              <br>
               <i class="fa fa-check-circle" style="color:Pink"><span class="fa"></span>
               <hr>
                  <p>Pink is the delicate part of the red color family. Those who like pink are perceived to be feminine, innocent and romantic. Compared to red, pink is a more tranquil color that can work well in the bedroom.</p>
               </i>
               <br>
                <i class="fa fa-check-circle" style="color:Brown"><span class="fa"></span>
                <hr>
                    <p>Brown represents earth, security and contentment. Those who like brown tend to love nature, simplicity and comfort.</p>
                </i>
                 <i class="fa fa-check-circle" style="color:Gray"><span class="fa"></span>
                 <hr>
                      <p>Gray is classic, elegant and works well with most colors. Those who like gray are intelligent and disciplined. Warm gray paired with other warm colors creates a lively and inviting space</p>
                </i>
                <hr>
                <button type="button" class="btn">Read More</button>
                <a href="/colors" target="_blank"><button type="button" class="btn">Behr Colors</button></a>
            </ul>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/splash.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h3>We do</h3>
            <p style="color:#5B8899;">Garage Painting</p>
            <p style="color:#5B8899;">Painting</p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->