     
      <!-- about  -->
      <div id="about" class="about top_layer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About Us</h2>
                     <span>Something here...</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="img-box">
                     <figure><img src="images/about.jpg" alt="img"/></figure>
                     <a href="#">read more</a>
                  </div>
               </div>
            </div>
         </div>
      </div>