    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Something here...</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>Something here...</p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="far fa-phone"></i></div>
              <h4 class="title"><a href="">ONE</a></h4>
              <p class="description">You can give us a call.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">TWO</a></h4>
              <p class="description">Tell us what you need.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">THREE</a></h4>
              <p class="description">We estimate.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/flying.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Header</h4>
             
            <p></p>
            <p>Driveway Sealing</p>
            <p>Garage Trim Painting</p>
            <p>Window Trim Finishing</p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/banner.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Header</h4>
            <p>Something here...</p>
            <p>Something here...</p>
            <p>Something here...</p>
            <p>Something here...</p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->