        <section id="contact">
      <div class="container-fluid">

        <div class="section-header text-center">
          <h3>Contact Us</h3>
             <a href="https://www.instagram.com/paint2go/?hl=en" target="_blank" id="socialLinks"><i class="ion-social-instagram" style="font-size: .67cm;"></i></a>
             <a href="tel:+16479862329" id="socialLinks"><i class="ion-ios-telephone" style="font-size: .75cm;"></i></a>
             <a href="mailto:contactpaint2go@gmail.com" id="socialLinks"><i class="ion-ios-email" style="font-size: .75cm;"></i></a>
        </div>

        <div class="row wow fadeInUp">
          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=GTA+(Paint2Go)&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div> 
          <div class="col-lg-6">          
            <hr>
            <div class="form">
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required/>
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required/>
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" class="form-control" name="email" id="email" placeholder="E-Mail Address" required/>
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                      <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone Number" required/>
                    <div class="validation"></div>
                  </div>
                </div>
                  <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-left">
                    <button type="reset" class="btn">Clear</button>
                    <button type="submit" id="submit" class="btn">Send</button>
                    <hr>
                    <input type="button" class="btn" id="add" name="add"onclick="addText()" value="Add Color Code"></input>
                    <input type="delete" class="btn" id="remove" name="remove"onclick="removeText()" value="Delete"></input>
                    <br><br>
                    {{!-- <div id="addText">sina</div> --}}
                    <ol id="addText"></ol>
                    <br>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section>