{{#if errorMsg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="status">
        <strong style="padding-right: 10px;" id="chngStatus" >Oops!</strong><span id="rmMessage">{{this.errorMsg}}<br><b><div id="error_message"></div></b></span>
    </div>   
{{/if}} 
 
    {{#if errorMsg}}
        <div class="row" data-aos="fade-in">        
            <div class="col-lg-5 d-flex align-items-stretch">            
                <div class="info" >
                    <div class="homepage">
                        <i class="icofont-home"></i>
                        <a href="/"><h4  style="padding-top:10px;">Homepage</h4></a>
                    </div>
                </div>
            </div>
        </div>  
    <hr>
    {{/if}}