{{#if errorMsg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="status">
        <strong style="padding-right: 10px;" id="chngStatus" >Oops!</strong><span id="rmMessage">{{this.errorMsg}}<br><b><div id="error_message"></div></b></span>
    </div>   
{{/if}} 
 
    {{#if errorMsg}}
    <hr>
    {{/if}}