  <header id="header" class="fixed-top">
    <div class="container">
     
      <a href="#" class="navbar-brand">
         <img src="/img/logo.jpg" height="45" alt="LOGO">
      </a>
    </div>
  </header><!-- #header -->
   <br> <br>