  <header id="header" class="fixed-top">
      <div class="container" id="animate">
          <a class="navbar-brand">
         <img src="/img/logo.jpg" height="40" alt="LOGO">
      </a>
    </div>
  </header><!-- #header -->
   <br> <br>