<div class="temp_price_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 text-center ">
				<div class="heading_wrapper">
					<h1 class="heading">Our prices</h1>
					<div class="clearfix"></div>
					<div class="right bottompadder10">
						<img src="/images/heading_icon.png" alt="">
					</div>
				</div>
				<p class=" paragraph italic">DESCRIPTION TO BE WRITTEN</p>
			</div>
					<div class="temp_pricing_tables wow fadeIn" >
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " >
						<div class="pricing_table  text-center " id="backColor">
							<div class="pricing_table_img">
								<img src="/images/about.jpg" alt="" class="img-responsive">
						</div>
						<div class="price_title">
							<h1 class="subheading">Single Visit</h1>
						</div>
						<div class="price">
							<h1 class="heading">$250<span></span></h1>
						</div>
						<svg height="200" viewBox="-15 0 512 512" width="200" xmlns="http://www.w3.org/2000/svg"><path d="m465.273438 225.464844c-3.078126 0-6.183594-.941406-8.855469-2.902344-10.320313-7.5625-22.570313-11.5625-35.417969-11.5625s-25.097656 4-35.417969 11.5625c-6.683593 4.898438-16.070312 3.449219-20.964843-3.234375-4.894532-6.679687-3.449219-16.066406 3.234374-20.964844 15.5-11.359375 33.878907-17.363281 53.148438-17.363281s37.648438 6.003906 53.152344 17.363281c6.679687 4.898438 8.128906 14.285157 3.230468 20.964844-2.9375 4.011719-7.492187 6.136719-12.109374 6.136719zm0 0" fill="#e5e5e5"/><path d="m465.21875 164.425781c-3.074219 0-6.171875-.941406-8.84375-2.894531-10.316406-7.542969-22.546875-11.53125-35.375-11.53125s-25.058594 3.988281-35.375 11.53125c-6.6875 4.890625-16.074219 3.433594-20.960938-3.253906-4.890624-6.6875-3.433593-16.074219 3.25-20.960938 15.492188-11.328125 33.847657-17.316406 53.085938-17.316406s37.59375 5.988281 53.082031 17.316406c6.6875 4.886719 8.144531 14.273438 3.253907 20.960938-2.9375 4.015625-7.496094 6.148437-12.117188 6.148437zm0 0" fill="#b35c4b"/><path d="m211 512c-28.761719 0-56.6875-6.972656-83.003906-20.722656-25.136719-13.132813-47.683594-31.839844-67.015625-55.605469-39.324219-48.332031-60.980469-112.140625-60.980469-179.671875s21.65625-131.339844 60.976562-179.671875c19.335938-23.765625 41.882813-42.472656 67.015626-55.605469 26.320312-13.75 54.246093-20.722656 83.007812-20.722656 13.78125 0 27.566406 1.632812 40.976562 4.855469 36.257813 8.710937 65.277344 37.382812 75.726563 74.828125 10.457031 37.460937.910156 75.449218-25.53125 101.621094-19.8125 19.601562-31.171875 46.828124-31.171875 74.695312 0 28.304688 11.085938 54.847656 31.21875 74.738281 26.433594 26.117188 36.003906 64.050781 25.597656 101.46875-10.414062 37.445313-39.410156 66.144531-75.671875 74.898438-13.457031 3.246093-27.300781 4.894531-41.144531 4.894531zm0-482c-47.496094 0-92.511719 23.175781-126.75 65.261719-34.984375 43-54.25 100.085937-54.25 160.738281s19.265625 117.738281 54.25 160.738281c34.238281 42.085938 79.253906 65.261719 126.75 65.261719 11.472656 0 22.949219-1.363281 34.105469-4.058594 26.078125-6.292968 46.195312-26.394531 53.808593-53.773437 7.449219-26.78125.800782-53.730469-17.78125-72.089844-25.503906-25.199219-40.132812-60.21875-40.132812-96.078125 0-35.820312 14.605469-70.820312 40.066406-96.019531 18.597656-18.40625 25.230469-45.40625 17.742188-72.230469-7.640625-27.375-27.769532-47.460938-53.84375-53.726562-11.113282-2.667969-22.539063-4.023438-33.964844-4.023438zm0 0" fill="#fedb41"/><path d="m196 150c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#fd3c65"/><path d="m226 451c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#b758ce"/><path d="m121 256c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#32d736"/><path d="m121 376c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#17ace8"/><path d="m421 361c-47.363281 0-60-113.144531-60-180 0-67.226562 12.636719-181 60-181s60 113.773438 60 181c0 66.855469-12.636719 180-60 180zm0-330.699219c-3.238281 2.328125-11.535156 13.359375-18.84375 43.296875-7.195312 29.460938-11.15625 67.601563-11.15625 107.402344s3.96875 77.8125 11.175781 107.039062c7.335938 29.738282 15.644531 40.519532 18.824219 42.699219 3.179688-2.179687 11.488281-12.960937 18.824219-42.699219 7.207031-29.226562 11.175781-67.238281 11.175781-107.039062s-3.960938-77.941406-11.15625-107.402344c-7.308594-29.9375-15.605469-40.96875-18.84375-43.296875zm0 0" fill="#a24f3d"/><path d="m466 512c-57.898438 0-105-47.550781-105-106v-15c0-33.085938 26.914062-60 60-60s60 26.914062 60 60c0 8.75-1.847656 17.191406-5.484375 25.089844l-8.136719 17.65625c-8.0625 17.5-4.269531 39.148437 9.226563 52.648437 4.292969 4.289063 5.574219 10.742188 3.253906 16.34375-2.324219 5.605469-7.792969 9.261719-13.859375 9.261719zm-45-151c-16.542969 0-30 13.457031-30 30v15c0 31.265625 18.726562 58.183594 45.410156 69.835938-5.347656-17.671876-4.332031-37.164063 3.722656-54.644532l8.136719-17.65625c0-.003906 0-.003906 0-.003906 1.8125-3.929688 2.730469-8.148438 2.730469-12.53125 0-16.542969-13.457031-30-30-30zm0 0" fill="#57555c"/></svg>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i> Extra Feature</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> A Smile</li>
								<li><i class="fa fa-times" aria-hidden="true"></i> On Demand</li>
							</ul>
						<div class="bottompadder30">
							<p class="paragraph">Extra Charges are based on Extra Work taken.</p>
						</div>
								
							<div class="temp_btn" id="changeColor">
								<a>Pick your color
								<input type="color" id="head" name="head" value="#e66465">
								</a>
							</div> <br> <br>

						</div>
					</div>
				</div>
					<div class="temp_pricing_tables wow fadeIn" >
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " >
						<div class="pricing_table  text-center " id="backColor">
							<div class="pricing_table_img">
								<img src="/images/about.jpg" alt="" class="img-responsive">
						</div>
						<div class="price_title">
							<h1 class="subheading">Double Visit</h1>
						</div>
						<div class="price">
							<h1 class="heading">$500<span></span></h1>
						</div>
						<svg height="200" viewBox="-15 0 512 512" width="200" xmlns="http://www.w3.org/2000/svg"><path d="m465.273438 225.464844c-3.078126 0-6.183594-.941406-8.855469-2.902344-10.320313-7.5625-22.570313-11.5625-35.417969-11.5625s-25.097656 4-35.417969 11.5625c-6.683593 4.898438-16.070312 3.449219-20.964843-3.234375-4.894532-6.679687-3.449219-16.066406 3.234374-20.964844 15.5-11.359375 33.878907-17.363281 53.148438-17.363281s37.648438 6.003906 53.152344 17.363281c6.679687 4.898438 8.128906 14.285157 3.230468 20.964844-2.9375 4.011719-7.492187 6.136719-12.109374 6.136719zm0 0" fill="#e5e5e5"/><path d="m465.21875 164.425781c-3.074219 0-6.171875-.941406-8.84375-2.894531-10.316406-7.542969-22.546875-11.53125-35.375-11.53125s-25.058594 3.988281-35.375 11.53125c-6.6875 4.890625-16.074219 3.433594-20.960938-3.253906-4.890624-6.6875-3.433593-16.074219 3.25-20.960938 15.492188-11.328125 33.847657-17.316406 53.085938-17.316406s37.59375 5.988281 53.082031 17.316406c6.6875 4.886719 8.144531 14.273438 3.253907 20.960938-2.9375 4.015625-7.496094 6.148437-12.117188 6.148437zm0 0" fill="#b35c4b"/><path d="m211 512c-28.761719 0-56.6875-6.972656-83.003906-20.722656-25.136719-13.132813-47.683594-31.839844-67.015625-55.605469-39.324219-48.332031-60.980469-112.140625-60.980469-179.671875s21.65625-131.339844 60.976562-179.671875c19.335938-23.765625 41.882813-42.472656 67.015626-55.605469 26.320312-13.75 54.246093-20.722656 83.007812-20.722656 13.78125 0 27.566406 1.632812 40.976562 4.855469 36.257813 8.710937 65.277344 37.382812 75.726563 74.828125 10.457031 37.460937.910156 75.449218-25.53125 101.621094-19.8125 19.601562-31.171875 46.828124-31.171875 74.695312 0 28.304688 11.085938 54.847656 31.21875 74.738281 26.433594 26.117188 36.003906 64.050781 25.597656 101.46875-10.414062 37.445313-39.410156 66.144531-75.671875 74.898438-13.457031 3.246093-27.300781 4.894531-41.144531 4.894531zm0-482c-47.496094 0-92.511719 23.175781-126.75 65.261719-34.984375 43-54.25 100.085937-54.25 160.738281s19.265625 117.738281 54.25 160.738281c34.238281 42.085938 79.253906 65.261719 126.75 65.261719 11.472656 0 22.949219-1.363281 34.105469-4.058594 26.078125-6.292968 46.195312-26.394531 53.808593-53.773437 7.449219-26.78125.800782-53.730469-17.78125-72.089844-25.503906-25.199219-40.132812-60.21875-40.132812-96.078125 0-35.820312 14.605469-70.820312 40.066406-96.019531 18.597656-18.40625 25.230469-45.40625 17.742188-72.230469-7.640625-27.375-27.769532-47.460938-53.84375-53.726562-11.113282-2.667969-22.539063-4.023438-33.964844-4.023438zm0 0" fill="#fedb41"/><path d="m196 150c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#fd3c65"/><path d="m226 451c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#b758ce"/><path d="m121 256c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#32d736"/><path d="m121 376c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#17ace8"/><path d="m421 361c-47.363281 0-60-113.144531-60-180 0-67.226562 12.636719-181 60-181s60 113.773438 60 181c0 66.855469-12.636719 180-60 180zm0-330.699219c-3.238281 2.328125-11.535156 13.359375-18.84375 43.296875-7.195312 29.460938-11.15625 67.601563-11.15625 107.402344s3.96875 77.8125 11.175781 107.039062c7.335938 29.738282 15.644531 40.519532 18.824219 42.699219 3.179688-2.179687 11.488281-12.960937 18.824219-42.699219 7.207031-29.226562 11.175781-67.238281 11.175781-107.039062s-3.960938-77.941406-11.15625-107.402344c-7.308594-29.9375-15.605469-40.96875-18.84375-43.296875zm0 0" fill="#a24f3d"/><path d="m466 512c-57.898438 0-105-47.550781-105-106v-15c0-33.085938 26.914062-60 60-60s60 26.914062 60 60c0 8.75-1.847656 17.191406-5.484375 25.089844l-8.136719 17.65625c-8.0625 17.5-4.269531 39.148437 9.226563 52.648437 4.292969 4.289063 5.574219 10.742188 3.253906 16.34375-2.324219 5.605469-7.792969 9.261719-13.859375 9.261719zm-45-151c-16.542969 0-30 13.457031-30 30v15c0 31.265625 18.726562 58.183594 45.410156 69.835938-5.347656-17.671876-4.332031-37.164063 3.722656-54.644532l8.136719-17.65625c0-.003906 0-.003906 0-.003906 1.8125-3.929688 2.730469-8.148438 2.730469-12.53125 0-16.542969-13.457031-30-30-30zm0 0" fill="#57555c"/></svg>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i> Extra Feature</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> A Smile</li>
								<li><i class="fa fa-times" aria-hidden="true"></i> On Demand</li>
							</ul>
						<div class="bottompadder30">
							<p class="paragraph">Extra Charges are based on Extra Work taken.</p>
						</div>
								
							<div class="temp_btn" id="changeColor">
								<a>Pick your color
								<input type="color" id="head" name="head" value="#e66465">
								</a>
							</div> <br> <br>

						</div>
					</div>
				</div>
				<div class="temp_pricing_tables wow fadeIn" >
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " >
						<div class="pricing_table  text-center " id="backColor">
							<div class="pricing_table_img">
								<img src="/images/about.jpg" alt="" class="img-responsive">
						</div>
						<div class="price_title">
							<h1 class="subheading">Triple Visit</h1>
						</div>
						<div class="price">
							<h1 class="heading">$750<span></span></h1>
						</div>
						<svg height="200" viewBox="-15 0 512 512" width="200" xmlns="http://www.w3.org/2000/svg"><path d="m465.273438 225.464844c-3.078126 0-6.183594-.941406-8.855469-2.902344-10.320313-7.5625-22.570313-11.5625-35.417969-11.5625s-25.097656 4-35.417969 11.5625c-6.683593 4.898438-16.070312 3.449219-20.964843-3.234375-4.894532-6.679687-3.449219-16.066406 3.234374-20.964844 15.5-11.359375 33.878907-17.363281 53.148438-17.363281s37.648438 6.003906 53.152344 17.363281c6.679687 4.898438 8.128906 14.285157 3.230468 20.964844-2.9375 4.011719-7.492187 6.136719-12.109374 6.136719zm0 0" fill="#e5e5e5"/><path d="m465.21875 164.425781c-3.074219 0-6.171875-.941406-8.84375-2.894531-10.316406-7.542969-22.546875-11.53125-35.375-11.53125s-25.058594 3.988281-35.375 11.53125c-6.6875 4.890625-16.074219 3.433594-20.960938-3.253906-4.890624-6.6875-3.433593-16.074219 3.25-20.960938 15.492188-11.328125 33.847657-17.316406 53.085938-17.316406s37.59375 5.988281 53.082031 17.316406c6.6875 4.886719 8.144531 14.273438 3.253907 20.960938-2.9375 4.015625-7.496094 6.148437-12.117188 6.148437zm0 0" fill="#b35c4b"/><path d="m211 512c-28.761719 0-56.6875-6.972656-83.003906-20.722656-25.136719-13.132813-47.683594-31.839844-67.015625-55.605469-39.324219-48.332031-60.980469-112.140625-60.980469-179.671875s21.65625-131.339844 60.976562-179.671875c19.335938-23.765625 41.882813-42.472656 67.015626-55.605469 26.320312-13.75 54.246093-20.722656 83.007812-20.722656 13.78125 0 27.566406 1.632812 40.976562 4.855469 36.257813 8.710937 65.277344 37.382812 75.726563 74.828125 10.457031 37.460937.910156 75.449218-25.53125 101.621094-19.8125 19.601562-31.171875 46.828124-31.171875 74.695312 0 28.304688 11.085938 54.847656 31.21875 74.738281 26.433594 26.117188 36.003906 64.050781 25.597656 101.46875-10.414062 37.445313-39.410156 66.144531-75.671875 74.898438-13.457031 3.246093-27.300781 4.894531-41.144531 4.894531zm0-482c-47.496094 0-92.511719 23.175781-126.75 65.261719-34.984375 43-54.25 100.085937-54.25 160.738281s19.265625 117.738281 54.25 160.738281c34.238281 42.085938 79.253906 65.261719 126.75 65.261719 11.472656 0 22.949219-1.363281 34.105469-4.058594 26.078125-6.292968 46.195312-26.394531 53.808593-53.773437 7.449219-26.78125.800782-53.730469-17.78125-72.089844-25.503906-25.199219-40.132812-60.21875-40.132812-96.078125 0-35.820312 14.605469-70.820312 40.066406-96.019531 18.597656-18.40625 25.230469-45.40625 17.742188-72.230469-7.640625-27.375-27.769532-47.460938-53.84375-53.726562-11.113282-2.667969-22.539063-4.023438-33.964844-4.023438zm0 0" fill="#fedb41"/><path d="m196 150c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#fd3c65"/><path d="m226 451c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#b758ce"/><path d="m121 256c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#32d736"/><path d="m121 376c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#17ace8"/><path d="m421 361c-47.363281 0-60-113.144531-60-180 0-67.226562 12.636719-181 60-181s60 113.773438 60 181c0 66.855469-12.636719 180-60 180zm0-330.699219c-3.238281 2.328125-11.535156 13.359375-18.84375 43.296875-7.195312 29.460938-11.15625 67.601563-11.15625 107.402344s3.96875 77.8125 11.175781 107.039062c7.335938 29.738282 15.644531 40.519532 18.824219 42.699219 3.179688-2.179687 11.488281-12.960937 18.824219-42.699219 7.207031-29.226562 11.175781-67.238281 11.175781-107.039062s-3.960938-77.941406-11.15625-107.402344c-7.308594-29.9375-15.605469-40.96875-18.84375-43.296875zm0 0" fill="#a24f3d"/><path d="m466 512c-57.898438 0-105-47.550781-105-106v-15c0-33.085938 26.914062-60 60-60s60 26.914062 60 60c0 8.75-1.847656 17.191406-5.484375 25.089844l-8.136719 17.65625c-8.0625 17.5-4.269531 39.148437 9.226563 52.648437 4.292969 4.289063 5.574219 10.742188 3.253906 16.34375-2.324219 5.605469-7.792969 9.261719-13.859375 9.261719zm-45-151c-16.542969 0-30 13.457031-30 30v15c0 31.265625 18.726562 58.183594 45.410156 69.835938-5.347656-17.671876-4.332031-37.164063 3.722656-54.644532l8.136719-17.65625c0-.003906 0-.003906 0-.003906 1.8125-3.929688 2.730469-8.148438 2.730469-12.53125 0-16.542969-13.457031-30-30-30zm0 0" fill="#57555c"/></svg>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i> Extra Feature</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> A Smile</li>
								<li><i class="fa fa-times" aria-hidden="true"></i> On Demand</li>
							</ul>
						<div class="bottompadder30">
							<p class="paragraph">Extra Charges are based on Extra Work taken.</p>
						</div>
								
							<div class="temp_btn" id="changeColor">
								<a>Pick your color
								<input type="color" id="head" name="head" value="#e66465">
								</a>
							</div> <br> <br>

						</div>
					</div>
				</div>
		</div>
	</div>
		<svg class="svg_border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" height="50" width="100%"> <path class="exqute-fill-white" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path> </svg>
</div>