<div class="temp_service_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 text-center ">
				<div class="heading_wrapper">
					<h1 class="heading">Why Choose Us</h1>
					<div class="clearfix"></div>
					<div class="right bottompadder10">
						<img src="/images/heading_icon.png" alt="" width="205" height="32">
					</div>
				</div>
				<p class="paragraph italic">DESCRIPTION TO BE WRITTEN</p>
			</div>
			<div class="temp_services wow fadeIn">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="service_section text-center">
						<div class=" bottompadder20">
							<img src="/images/a1.png" alt="">
						</div>
						<h2 class="subheading"><a href="#">Window Washing</a></h2>
						<div>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="service_section text-center">
						<div class="bottompadder20">
							<img src="/images/a2.png" alt="">
						</div>
						<h2 class=" subheading"><a href="#">Color Proof</a></h2>
						<div>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
					<div class="service_section text-center">
						<div class=" bottompadder20">
							<img src="/images/a3.png" alt="">
						</div>
						<h2 class="subheading"><a href="#">Mildew Removal</a></h2>
						<div>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
					<div class="service_section text-center  ">
						<div class=" bottompadder20">
							<img src="/images/a4.png" alt="">
						</div>
						<h2 class="subheading"><a href="#">Faux Finishes</a></h2>
						<div>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="service_section text-center  ">
						<div class="bottompadder20">
							<img src="/images/a5.png" alt="">
						</div>
						<h2 class="subheading"><a href="#">Water Proofing</a></h2>
						<div>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="service_section text-center  ">
						<div class=" bottompadder20">
							<img src="/images/a6.png" alt="">
						</div>
						<h2 class="subheading"><a href="#">Pre - Point Demo</a></h2>
						<div>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--section2 end-->

<!--section3 start-->
<div class="temp_service_wrapper painting_service">
	<svg class="svg_border1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" 	preserveAspectRatio="none" height="50" width="100%"> <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
 c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
 c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path> </svg>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 text-center">
				<div class="heading_wrapper">
					<h1 class=" heading">Our Painting Services</h1>
					<div class="clearfix"></div>
					<div class="right bottompadder10">
						<img src="/images/heading_icon.png" alt="" width="205" height="32">
					</div>
				</div>
				<div>
					<p class="paragraph italic">DESCRIPTION TO BE WRITTEN</p>
				</div>
			</div>
			<div class="temp_services wow fadeIn">
				<div class="col-sm-6 col-xs-12 ">
					<div class="service_section">
						<div class="service_number">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 503.533 503.533" width="90" height="90" >
							<path style="fill:#415661;" d="M289.871,397.982c-3.151,3.151-9.846,3.938-14.178-0.394c-39.778-40.566-97.674-34.265-125.637-5.908
								c-18.511,18.905-28.751,49.231-42.142,67.742c-7.089,10.24-16.148,20.48-25.994,30.326c0,0-11.815,13.391-33.477,13.391
								C21.662,503.138,0,481.477,0,454.695c0-20.874,13.391-33.477,13.391-33.477l0.394-0.394l0.394-0.394
								c9.452-9.452,19.298-18.117,29.145-25.206c18.511-13.391,48.443-23.631,66.954-42.535c27.963-28.357,34.265-86.646-5.514-126.818
								c-1.969-1.969-3.151-5.12-2.757-7.483c0-2.757,1.575-5.514,3.151-7.089l50.806-51.2l184.32,186.289
								C340.283,346.388,289.871,397.982,289.871,397.982z"/>
							<path style="fill:#3A4D57;" d="M105.551,211.298c-1.575,1.575-2.757,4.332-3.151,7.089c0,2.757,0.788,5.514,2.757,7.483
								c39.778,40.172,33.871,98.462,5.514,126.818c-18.511,18.905-48.837,29.145-66.954,42.535c-9.846,7.089-19.692,15.754-29.145,25.206
								l-0.394,0.394l-0.394,0.394c4.726-4.726-13.391,10.24-13.391,33.477c0,13.391,5.514,25.206,14.178,34.265l230.006-229.612
								l-76.406-87.434l-11.815-11.815C156.357,160.098,105.551,211.298,105.551,211.298z"/>
							<path style="fill:#F4F0D3;" d="M330.437,4.923l168.566,168.172c5.514,5.514,5.514,14.178,0,19.692L389.908,301.883
								c-5.514,5.514-14.178,5.514-19.692,0l-168.96-168.172c-5.514-5.514-5.514-14.178,0-19.692L310.745,4.923
								C315.865-0.591,324.923-0.591,330.437,4.923z"/>
							<path style="fill:#D3D5D6;" d="M200.468,115.2l197.317,178.412l-72.074,68.135L132.726,183.729L200.468,115.2z"/>
							<path style="fill:#C8CACB;" d="M200.468,115.2l99.643,89.797L230.4,273.92l-97.674-89.797
								C132.726,184.123,200.468,115.2,200.468,115.2z"/>
							<path style="fill:#BDBFC0;" d="M278.055,259.348c-6.302,6.302-6.302,16.148,0,22.449c6.302,6.302,16.148,6.302,22.449,0
								c6.302-6.302,6.302-16.148,0-22.449C294.597,253.44,284.357,253.44,278.055,259.348z M336.345,294.794
								c-6.302-6.302-16.148-6.302-22.449,0c-6.302,6.302-6.302,16.148,0,22.449c6.302,6.302,16.148,6.302,22.449,0
								C342.252,310.942,342.252,301.095,336.345,294.794z"/>
							<path style="fill:#E8E4C8;" d="M484.825,158.917c-2.757-2.757-7.089-2.757-9.846,0l-85.071,84.677c-2.757,2.757-2.757,7.089,0,9.846
								c2.757,2.757,7.089,2.757,9.846,0l85.071-84.677C487.582,166.006,487.582,161.674,484.825,158.917z M461.194,135.286
								c-2.757-2.757-7.089-2.757-9.846,0l-85.071,84.677c-2.757,2.757-2.757,7.089,0,9.846c2.757,2.757,7.089,2.757,9.846,0l85.071-84.677
								C463.951,142.375,463.951,138.043,461.194,135.286z M413.538,88.025c-2.757-2.757-7.089-2.757-9.846,0l-85.071,84.283
								c-2.757,2.757-2.757,7.089,0,9.846c2.757,2.757,7.089,2.757,9.846,0l85.071-84.283C416.295,95.114,416.295,90.782,413.538,88.025z
								 M389.908,64.394c-2.757-2.757-7.089-2.757-9.846,0l-85.071,84.283c-2.757,2.757-2.757,7.089,0,9.846
								c2.757,2.757,7.089,2.757,9.846,0l85.071-84.283C392.665,71.483,392.665,67.151,389.908,64.394z M365.883,40.369
								c-2.757-2.757-7.089-2.757-9.846,0l-84.677,84.677c-2.757,2.757-2.757,7.089,0,9.846c2.757,2.757,7.089,2.757,9.846,0l84.677-84.283
								C368.64,47.852,368.64,43.126,365.883,40.369z M342.252,16.738c-2.757-2.757-7.089-2.757-9.846,0l-85.071,84.677
								c-2.757,2.757-2.757,7.089,0,9.846s7.089,2.757,9.846,0l85.071-84.677C345.009,23.828,345.009,19.495,342.252,16.738z"/>
							<path style="fill:#e02871;" d="M499.397,172.702L330.437,4.529c-5.514-5.514-14.178-5.514-19.692,0l-12.209,12.209l74.831,74.043
								c5.908,11.028,4.332,24.812-6.302,34.265l-9.452,11.028c-6.302,5.514-6.302,14.966,0,20.48s16.935,5.12,22.055-0.788l-29.145,28.357
								c-5.908,5.514-5.908,14.572,0,20.086s14.966,5.514,20.874,0l13.391-13.391c-5.514,5.514-5.514,14.572,0,20.086
								c5.514,5.514,14.178,5.514,19.692,0l24.418-25.6c11.028-11.422,29.145-11.422,40.566,0l18.511,18.117L499.397,192
								C504.911,187.274,504.911,178.215,499.397,172.702L499.397,172.702z"/>
							<path style="fill:#B4B5B6;" d="M205.588,164.825c6.302,6.302,6.302,16.148,0,22.449c-6.302,6.302-16.148,6.302-22.449,0
								c-6.302-6.302-6.302-16.148,0-22.449C189.44,158.523,199.286,158.523,205.588,164.825z M241.034,200.271
								c6.302,6.302,6.302,16.148,0,22.449c-6.302,6.302-16.148,6.302-22.449,0c-6.302-6.302-6.302-16.148,0-22.449
								C224.886,193.969,235.126,193.969,241.034,200.271z"/>
							<path style="fill:#D65348;" d="M367.458,124.652l-9.452,11.028c-6.302,5.514-6.302,14.572,0,20.48
								c5.908,5.12,15.36,5.12,20.874,0.394l9.058-8.665c-5.514,5.514-15.754,6.302-22.055,0.788c-6.302-5.514-6.302-14.572,0-20.48
								l9.452-11.028c10.24-9.058,11.815-23.237,6.302-33.871L306.806,9.649l-7.877,7.877l74.831,73.649
								C379.274,101.809,377.699,115.594,367.458,124.652z M358.794,196.332c-5.514-5.12-5.514-13.785-0.788-19.298l-7.089,6.695
								c-5.908,5.514-5.908,14.572,0,20.086s14.966,5.514,20.874,0l7.877-7.877C373.76,201.846,364.702,201.846,358.794,196.332z
								 M392.665,203.422c-5.514-5.514-5.514-14.572,0-20.086l-7.877,7.877c-5.514,5.514-5.514,14.572,0,20.086s14.178,5.514,19.692,0
								l6.302-6.302C405.268,208.935,397.785,208.148,392.665,203.422z M495.458,195.938l-18.511-17.723
								c-11.028-11.422-29.145-11.422-40.172,0l-5.514,5.514c11.028-9.058,27.569-8.271,37.809,1.969l18.511,17.723L499.003,192
								L495.458,195.938z"/>

							</svg>

						</div>
						<div class="service_right">
							<h2 class="subheading"><a href="#">Regular painting</a></h2>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 ">
					<div class="service_section">
						<div class="service_number">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"  width="90" height="90">
							<path style="fill:rgba(255, 230, 125, 0);" d="M512,256c0,141.385-114.615,256-256,256S0,397.385,0,256S114.615,0,256,0S512,114.615,512,256z"/>
							<path style="fill:#B9783D;" d="M389.719,205.58l-36.38,99.953l-26.971,74.103l-30.109,82.723
								c-5.49,15.085-22.17,22.863-37.255,17.372c-1.41-0.513-2.756-1.125-4.034-1.823c-1.228,0.661-2.516,1.245-3.866,1.736l0,0
								c-15.085,5.49-31.764-2.287-37.254-17.372l-93.46-256.779c-5.142-14.128,2.142-29.749,16.27-34.891l3.465-1.261
								c14.128-5.142,29.749,2.142,34.891,16.27l36.38,99.953l15.536,42.686V172.852c0-15.035,12.188-27.223,27.222-27.223h3.687
								c15.035,0,27.223,12.188,27.223,27.223v106.367v43.925l50.026-137.446c5.142-14.128,20.763-21.412,34.891-16.27l3.465,1.261
								C387.577,175.831,394.861,191.452,389.719,205.58z"/>
							<path style="fill:#965028;" d="M382.383,176.871c-10.867,0.987-20.725,8.076-24.705,19.009l-92.829,255.046
								c-2.378,6.533-2.249,13.358-0.133,19.449c1.158,0.764,2.372,1.451,3.637,2.046c-0.779,0.366-1.581,0.691-2.396,0.989
								c1.402,2.927,3.282,5.627,5.597,7.958c-4.127,0.375-8.398-0.126-12.55-1.637l0,0c-1.413-0.514-2.762-1.127-4.042-1.827
								c-1.227,0.661-2.509,1.25-3.857,1.74l0,0c-15.085,5.49-31.764-2.287-37.254-17.372l-92.829-255.046
								c-5.49-15.084,2.287-31.764,17.372-37.254l0,0c4.152-1.511,8.423-2.012,12.55-1.637c-7.69,7.741-10.685,19.509-6.706,30.442
								l82.696,227.205V174.695c0-16.053,13.013-29.066,29.066-29.066l0,0c4.418,0,8.603,0.99,12.353,2.754
								c-9.875,4.644-16.713,14.678-16.713,26.312v240.286l82.822-227.551c5.49-15.085,22.17-22.862,37.254-17.372l0,0
								C375.868,171.569,379.462,173.931,382.383,176.871z"/>
							<path style="fill:#80391B;" d="M312.25,34.317l-10.034,35.589l-15.006,45.216c-8.012-1.987-19.034-3.215-31.21-3.215
								s-23.198,1.229-31.21,3.215l-14.83-44.686l-8.592-36.119c-2.262-6.816,0.189-14.372,6.132-18.404C222.3,5.87,236.766,2.5,256,2.5
								s35.317,3.37,50.118,13.413C312.061,19.946,314.512,27.502,312.25,34.317z M419.25,47.75c0.195-0.553,0.098-1.17-0.05-1.737
								c-0.694-2.672,1.049-4.863-1.2-3.263L359.25,87c-6.268,4.46-13.507,7.332-17.191,13.639c-8.526,14.598-9.796,32.882-2.27,49.021l0,0
								c6.599,14.152,18.666,24.009,32.512,28.229c12.041,3.669,25.426,3.076,37.732-2.662l0,0c8.736-4.074,16.379-9.977,21.088-17.771
								c5.739-9.499,7.948-18.833,8.046-27.952C439.504,97.909,410.662,72.068,419.25,47.75z M91,40c-6.5,23.75-10.262,57.242-3.114,86.821
								c1.388,5.743,2.987,11.133,4.751,15.979c10.847,29.802,25.856,33.363,52.516,45.74c12.467-26.618,21.676-38.993,10.828-68.795
								c-1.797-4.937-3.892-10.298-6.78-15.592C134.25,76.75,113.75,56.5,91,40z"/>
							<path style="fill:#FF5A5F;" d="M314.027,34.317l-12.692,38.244c-4.768-0.694-8.581-4.296-9.603-8.953V39.431
								c0-6.39-5.18-11.569-11.569-11.569h-0.878c-6.39,0-11.569,5.18-11.569,11.569v2.074c-1.165,5.158-5.767,9.014-11.277,9.014h-0.878
								c-5.51,0-10.112-3.855-11.277-9.014v-2.074c0-6.39-5.18-11.569-11.569-11.569h-0.878c-6.389,0-11.569,5.18-11.569,11.569v24.18
								c-1.022,4.656-4.835,8.257-9.603,8.951l-12.692-38.244c-2.262-6.816,0.189-14.372,6.132-18.404C218.905,5.87,236.766,0,256,0
								s37.095,5.87,51.895,15.913C313.838,19.946,316.289,27.502,314.027,34.317z"/>
							<path style="fill:#6E96DC;" d="M439.049,132.533c-2.722,1.839-6.25,2.403-9.573,1.193l0,0c-4.762-1.733-7.523-6.521-6.888-11.346
								l0.789-2.167c2.004-5.507-0.835-11.597-6.342-13.601l0,0c-5.507-2.004-11.597,0.835-13.601,6.342l-10.467,28.759
								c-2.615,4.104-7.807,5.997-12.57,4.264c-4.762-1.733-7.522-6.521-6.888-11.346l10.467-28.759c2.004-5.507-0.835-11.597-6.342-13.601
								c-5.507-2.005-11.597,0.835-13.601,6.342l-3.208,8.815c-2.615,4.104-7.807,5.997-12.57,4.264c-4.202-1.529-6.843-5.438-6.972-9.651
								c3.74-6.874,9.04-13.001,15.768-17.788l59.877-43.624c2.249-1.6,5.404-0.452,6.099,2.22c0.148,0.568,0.245,1.184,0.049,1.737
								C414.213,69.679,441.127,99.763,439.049,132.533z"/>
							<path style="fill:#3CAF96;" d="M129.777,113.996l-7.345-20.18c-2.087-5.733-8.426-8.69-14.16-6.603s-8.69,8.426-6.603,14.16
								l7.345,20.18c0.698,5.047-2.164,10.069-7.145,11.882c-5.38,1.958-11.293-0.525-13.726-5.575c-7.365-29.7-9.074-69.308,1.488-91.861
								l0,0c22.588,10.487,46.739,41.927,60.188,69.413c1.383,5.433-1.551,11.135-6.931,13.093
								C137.907,120.318,132.486,118.311,129.777,113.996z"/>
							<path style="fill:#9BB9C3;" d="M376.186,302.729L359.129,490.36C327.576,504.264,292.694,512,256,512s-71.576-7.736-103.128-21.641
								l-17.057-187.631c-0.496-5.456,3.8-10.159,9.278-10.159h221.815C372.386,292.569,376.681,297.273,376.186,302.729z"/>
							<path style="fill:#87A0AF;" d="M360.374,476.656l-1.246,13.703C327.576,504.264,292.694,512,256,512s-71.576-7.736-103.128-21.641
								l-17.057-187.631c-0.496-5.456,3.8-10.159,9.278-10.159h24.934c-0.009,0.81-0.027,1.618-0.027,2.431c0,102.173,71.635,185,160,185
								C340.387,480,350.539,478.842,360.374,476.656z"/>
							<path style="fill:#FFF5AF;" d="M400.024,177.268L400.024,177.268c-0.249,0.684-0.514,1.361-0.786,2.034l0.04,0.015l-19.882,54.626
								v-0.001l-0.281,0.773l-54.626-19.882l6.749-18.542l13.415-36.856l0.04,0.015c0.224-0.691,0.456-1.379,0.705-2.063l0,0
								c1.373-3.771,14.714-2.377,29.799,3.113C390.281,165.989,401.396,173.497,400.024,177.268z M183.766,209.646l-19.882-54.626
								l-0.04,0.015c-0.224-0.691-0.457-1.379-0.705-2.063l0,0c-1.373-3.771-14.714-2.378-29.799,3.113s-26.201,12.999-24.828,16.77l0,0
								c0.249,0.684,0.514,1.36,0.786,2.034l-0.041,0.015l13.415,36.856l6.749,18.542l54.626-19.882L183.766,209.646L183.766,209.646z
								 M288.602,107.134c-8.102-2.197-19.706-3.574-32.601-3.574c-12.895,0-24.499,1.377-32.602,3.574c-1.842,0.5-2.975,2.352-2.621,4.228
								l5.762,30.539l0.394,37.618v19.732h58.132v-0.821l0.394-56.529l5.762-30.539C291.576,109.486,290.444,107.633,288.602,107.134z"/>
							<path style="fill:#E6B464;" d="M382.92,190.268l-0.058,0.159c-1.299,3.57-5.147,5.477-8.796,4.42
								c-0.625-0.181-1.249-0.385-1.87-0.611l-12.054-4.387l-2.844,7.815l12.054,4.387c0.357,0.13,0.715,0.252,1.073,0.367
								c3.926,1.26,6.09,5.447,4.68,9.321l-0.058,0.158c-1.299,3.57-5.147,5.477-8.796,4.42c-0.625-0.181-1.249-0.384-1.87-0.61
								l-12.054-4.387l-4.385,12.049l-23.453-8.536l6.749-18.542l0.481-1.321l4.971-13.657l7.963-21.878l0.04,0.015
								c0.224-0.691,0.456-1.379,0.705-2.063l0,0c1.373-3.771,14.714-2.377,29.799,3.113c4.198,1.528,8.087,3.212,11.486,4.928
								c-9.615-2.257-16.841-2.227-17.832,0.495l0,0c-0.249,0.684-0.481,1.373-0.705,2.063l-0.041-0.015l-2.992,8.222l12.054,4.387
								c0.357,0.13,0.715,0.252,1.073,0.367C382.166,182.206,384.33,186.393,382.92,190.268z M166.207,195.396
								c-1.41-3.875-5.759-5.691-9.577-4.132c-0.348,0.142-0.701,0.279-1.058,0.409l-12.055,4.387l-2.844-7.815l12.054-4.387
								c0.621-0.226,1.229-0.471,1.825-0.734c3.474-1.536,5.196-5.471,3.897-9.04l-0.058-0.158c-1.41-3.875-5.759-5.691-9.576-4.132
								c-0.348,0.143-0.701,0.279-1.058,0.408l-12.054,4.387l-2.992-8.222l0.041-0.015c-0.272-0.673-0.537-1.35-0.786-2.034l0,0
								c-0.99-2.722,4.526-7.39,13.342-11.841c-3.708,0.87-7.769,2.08-11.967,3.608c-15.085,5.49-26.201,12.999-24.828,16.77
								c0.249,0.684,0.514,1.36,0.786,2.034l-0.041,0.015l7.963,21.878l2.543,6.987l2.908,7.99l6.749,18.542l23.453-8.536l-4.385-12.049
								l12.054-4.387c0.621-0.226,1.229-0.471,1.825-0.734c3.474-1.536,5.196-5.471,3.897-9.04L166.207,195.396z M265.854,149.024
								c-0.376,0.015-0.754,0.022-1.134,0.022h-12.828v-18.122c-0.104,0.004-5.32-27.112-5.32-27.112
								c-9.07,0.491-17.104,1.677-23.173,3.322c-1.842,0.5-2.975,2.352-2.621,4.228l5.762,30.539l0.394,21.679v14.533v1.406v19.732h24.958
								v-6.618v-6.204h12.828c0.661,0,1.316-0.022,1.966-0.066c3.79-0.255,6.754-3.364,6.754-7.162v-0.168c0-4.123-3.465-7.318-7.586-7.158
								c-0.376,0.015-0.754,0.022-1.134,0.022h-12.828v-8.316h12.828c0.661,0,1.316-0.022,1.966-0.066c3.79-0.255,6.754-3.364,6.754-7.162
								v-0.168C273.44,152.059,269.975,148.865,265.854,149.024z"/>
							</svg>

						</div>
						<div class="service_right">
							<h2 class="subheading"><a href="#">Residential Interior</a></h2>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 ">
					<div class="service_section">
						<div class="service_number">
							<svg height="90" viewBox="0 0 480 480" width="90" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient id="a"><stop offset="0" stop-color="#fc4a1a"/><stop offset="1" stop-color="#f7b733"/></linearGradient><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="8" x2="470.968" xlink:href="#a" y1="240" y2="240"/><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="8" x2="470.968" xlink:href="#a" y1="208" y2="208"/><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="8" x2="470.968" xlink:href="#a" y1="172" y2="172"/><linearGradient id="e" gradientUnits="userSpaceOnUse" x1="8" x2="470.968" xlink:href="#a" y1="244" y2="244"/><linearGradient id="f" gradientUnits="userSpaceOnUse" x1="8" x2="470.968" xlink:href="#a" y1="192" y2="192"/><linearGradient id="g" gradientUnits="userSpaceOnUse" x1="8" x2="470.968" xlink:href="#a" y1="336" y2="336"/><path d="m24 272c13.253906 0 24-10.746094 24-24v-8h16v16c0 4.417969 3.582031 8 8 8h14.335938l-26.574219 139.511719c-1.339844 7.023437.527343 14.28125 5.085937 19.789062 4.558594 5.511719 11.335938 8.699219 18.488282 8.699219h12.664062v24c0 4.417969 3.582031 8 8 8h128v8c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-16c0-4.417969-3.582031-8-8-8h-128v-16h18.761719c11.523437 0 21.417969-8.191406 23.574219-19.511719l19.144531-100.488281h18.519531v8c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8s-8 3.582031-8 8v8h-15.472656l6.097656-32h193.375c4.417969 0 8-3.582031 8-8v-24h24c4.417969 0 8-3.582031 8-8v-32c0-4.417969-3.582031-8-8-8h-24v-24c0-4.417969-3.582031-8-8-8h-80v-21.785156l22.855469-38.09375c.75-1.246094 1.144531-2.667969 1.144531-4.121094v-80c0-4.417969-3.582031-8-8-8h-80c-4.417969 0-8 3.582031-8 8v80c.019531.945312.210938 1.875.558594 2.753906.089844.238282.457031 1.148438.585937 1.367188l22.855469 38.09375v21.785156h-176c-4.417969 0-8 3.582031-8 8v16h-16v-8c0-13.253906-10.746094-24-24-24s-24 10.746094-24 24v80c0 13.253906 10.746094 24 24 24zm114.617188 137.496094c-.71875 3.773437-4.015626 6.503906-7.855469 6.503906h-47.425781c-2.382813 0-4.640626-1.0625-6.160157-2.902344-1.519531-1.835937-2.140625-4.253906-1.695312-6.59375l27.144531-142.503906h63.710938zm261.382812-209.496094v16h-16v-16zm-96-184v69.785156l-20.527344 34.214844h-22.945312l-14.398438-24h25.871094c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-32v-16h32c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-32v-32zm-40 120h16v16h-16zm-32 32v16c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-16h16v24c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-24h16v16c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-16h24v24c0 13.253906-10.746094 24-24 24h-80c-13.253906 0-24-10.746094-24-24v-24zm-152 0h112v24c.027344 22.082031 17.917969 39.972656 40 40h80c22.082031-.027344 39.972656-17.917969 40-40v-24h16v80h-288zm-16 24v32h-16v-32zm-48-24c0-4.417969 3.582031-8 8-8s8 3.582031 8 8v80c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8zm0 0" fill="url(#b)"/><path d="m472 200h-32c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8h32c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8zm0 0" fill="url(#c)"/><path d="m440 184c.65625.003906 1.3125-.078125 1.953125-.238281l32-8c4.253906-1.101563 6.828125-5.425781 5.757813-9.691407-1.066407-4.265624-5.375-6.867187-9.648438-5.832031l-32 8c-3.914062.984375-6.484375 4.730469-5.992188 8.738281.492188 4.007813 3.890626 7.019532 7.929688 7.023438zm0 0" fill="url(#d)"/><path d="m470.054688 255.761719c.636718.160156 1.289062.238281 1.945312.238281 4.039062-.003906 7.4375-3.015625 7.929688-7.023438.492187-4.007812-2.078126-7.753906-5.992188-8.738281l-32-8c-2.78125-.714843-5.734375.113281-7.734375 2.171875-2.003906 2.058594-2.75 5.03125-1.953125 7.789063.792969 2.761719 3.007812 4.882812 5.796875 5.5625zm0 0" fill="url(#e)"/><path d="m160 200h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" fill="url(#f)"/><path d="m120 200h8c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-8c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0" fill="url(#f)"/><path d="m102.328125 399.824219c4.320313.921875 8.574219-1.832031 9.496094-6.152344l24-112c.921875-4.320313-1.832031-8.574219-6.152344-9.496094s-8.574219 1.832031-9.496094 6.152344l-24 112c-.921875 4.320313 1.832031 8.574219 6.152344 9.496094zm0 0" fill="url(#g)"/></svg>
						</div>
						<div class="service_right">
							<h2 class="subheading"><a href="#">Eco Xpress Painting</a></h2>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 ">
					<div class="service_section">
						<div class="service_number">
							<svg height="90" viewBox="-15 0 512 512" width="90" xmlns="http://www.w3.org/2000/svg"><path d="m465.273438 225.464844c-3.078126 0-6.183594-.941406-8.855469-2.902344-10.320313-7.5625-22.570313-11.5625-35.417969-11.5625s-25.097656 4-35.417969 11.5625c-6.683593 4.898438-16.070312 3.449219-20.964843-3.234375-4.894532-6.679687-3.449219-16.066406 3.234374-20.964844 15.5-11.359375 33.878907-17.363281 53.148438-17.363281s37.648438 6.003906 53.152344 17.363281c6.679687 4.898438 8.128906 14.285157 3.230468 20.964844-2.9375 4.011719-7.492187 6.136719-12.109374 6.136719zm0 0" fill="#e5e5e5"/><path d="m465.21875 164.425781c-3.074219 0-6.171875-.941406-8.84375-2.894531-10.316406-7.542969-22.546875-11.53125-35.375-11.53125s-25.058594 3.988281-35.375 11.53125c-6.6875 4.890625-16.074219 3.433594-20.960938-3.253906-4.890624-6.6875-3.433593-16.074219 3.25-20.960938 15.492188-11.328125 33.847657-17.316406 53.085938-17.316406s37.59375 5.988281 53.082031 17.316406c6.6875 4.886719 8.144531 14.273438 3.253907 20.960938-2.9375 4.015625-7.496094 6.148437-12.117188 6.148437zm0 0" fill="#b35c4b"/><path d="m211 512c-28.761719 0-56.6875-6.972656-83.003906-20.722656-25.136719-13.132813-47.683594-31.839844-67.015625-55.605469-39.324219-48.332031-60.980469-112.140625-60.980469-179.671875s21.65625-131.339844 60.976562-179.671875c19.335938-23.765625 41.882813-42.472656 67.015626-55.605469 26.320312-13.75 54.246093-20.722656 83.007812-20.722656 13.78125 0 27.566406 1.632812 40.976562 4.855469 36.257813 8.710937 65.277344 37.382812 75.726563 74.828125 10.457031 37.460937.910156 75.449218-25.53125 101.621094-19.8125 19.601562-31.171875 46.828124-31.171875 74.695312 0 28.304688 11.085938 54.847656 31.21875 74.738281 26.433594 26.117188 36.003906 64.050781 25.597656 101.46875-10.414062 37.445313-39.410156 66.144531-75.671875 74.898438-13.457031 3.246093-27.300781 4.894531-41.144531 4.894531zm0-482c-47.496094 0-92.511719 23.175781-126.75 65.261719-34.984375 43-54.25 100.085937-54.25 160.738281s19.265625 117.738281 54.25 160.738281c34.238281 42.085938 79.253906 65.261719 126.75 65.261719 11.472656 0 22.949219-1.363281 34.105469-4.058594 26.078125-6.292968 46.195312-26.394531 53.808593-53.773437 7.449219-26.78125.800782-53.730469-17.78125-72.089844-25.503906-25.199219-40.132812-60.21875-40.132812-96.078125 0-35.820312 14.605469-70.820312 40.066406-96.019531 18.597656-18.40625 25.230469-45.40625 17.742188-72.230469-7.640625-27.375-27.769532-47.460938-53.84375-53.726562-11.113282-2.667969-22.539063-4.023438-33.964844-4.023438zm0 0" fill="#fedb41"/><path d="m196 150c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#fd3c65"/><path d="m226 451c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#b758ce"/><path d="m121 256c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#32d736"/><path d="m121 376c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0-60c-8.269531 0-15 6.730469-15 15s6.730469 15 15 15 15-6.730469 15-15-6.730469-15-15-15zm0 0" fill="#17ace8"/><path d="m421 361c-47.363281 0-60-113.144531-60-180 0-67.226562 12.636719-181 60-181s60 113.773438 60 181c0 66.855469-12.636719 180-60 180zm0-330.699219c-3.238281 2.328125-11.535156 13.359375-18.84375 43.296875-7.195312 29.460938-11.15625 67.601563-11.15625 107.402344s3.96875 77.8125 11.175781 107.039062c7.335938 29.738282 15.644531 40.519532 18.824219 42.699219 3.179688-2.179687 11.488281-12.960937 18.824219-42.699219 7.207031-29.226562 11.175781-67.238281 11.175781-107.039062s-3.960938-77.941406-11.15625-107.402344c-7.308594-29.9375-15.605469-40.96875-18.84375-43.296875zm0 0" fill="#a24f3d"/><path d="m466 512c-57.898438 0-105-47.550781-105-106v-15c0-33.085938 26.914062-60 60-60s60 26.914062 60 60c0 8.75-1.847656 17.191406-5.484375 25.089844l-8.136719 17.65625c-8.0625 17.5-4.269531 39.148437 9.226563 52.648437 4.292969 4.289063 5.574219 10.742188 3.253906 16.34375-2.324219 5.605469-7.792969 9.261719-13.859375 9.261719zm-45-151c-16.542969 0-30 13.457031-30 30v15c0 31.265625 18.726562 58.183594 45.410156 69.835938-5.347656-17.671876-4.332031-37.164063 3.722656-54.644532l8.136719-17.65625c0-.003906 0-.003906 0-.003906 1.8125-3.929688 2.730469-8.148438 2.730469-12.53125 0-16.542969-13.457031-30-30-30zm0 0" fill="#57555c"/></svg>
						</div>
						<div class="service_right">
							<h2 class="subheading"><a href="#">Water Proof Solution</a></h2>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 ">
					<div class="service_section">
						<div class="service_number">
							<svg height="90" viewBox="-40 0 480 480.00003" width="90" xmlns="http://www.w3.org/2000/svg"><path d="m328 472h-256l-16-216h288zm0 0" fill="#4398d1"/><path d="m71.496094 465.214844.503906 6.785156h256l16-216h-42.71875c-68.382812 104.871094-166.839844 173.230469-229.785156 209.214844zm0 0" fill="#368ec9"/><path d="m40 224h320v32h-320zm0 0" fill="#63b4eb"/><path d="m200 8c-110.402344.125-199.875 89.59375-200 200v32c0 4.417969 3.582031 8 8 8h32v-16h-24v-24c0-101.621094 82.382812-184 184-184 101.621094 0 184 82.378906 184 184v24h-24v16h32c4.417969 0 8-3.582031 8-8v-32c-.121094-110.40625-89.59375-199.875-200-200zm0 0" fill="#dedede"/><path d="m144 8h112v32h-112zm0 0" fill="#e8594a"/><path d="m48 192h304v32h-304zm0 0" fill="#4398d1"/><path d="m342.226562 280 1.773438-24h-288l1.777344 24zm0 0" fill="#3087c2"/><path d="m256 192v152c0 8.835938-7.160156 16-16 16-8.835938 0-16-7.164062-16-16v-56c0-8.835938-7.160156-16-16-16-8.835938 0-16 7.164062-16 16v16c0 8.835938-7.160156 16-16 16-8.835938 0-16-7.164062-16-16s-7.160156-16-16-16c-8.835938 0-16 7.164062-16 16v16c0 8.835938-7.160156 16-16 16-8.835938 0-16-7.164062-16-16v-128zm0 0" fill="#dedede"/><path d="m120 216h16v16h-16zm0 0" fill="#fff"/><path d="m120 248h16v16h-16zm0 0" fill="#fff"/><path d="m256 0h-112c-4.417969 0-8 3.582031-8 8v10.617188c-81.488281 27.113281-136.34375 103.5-136 189.382812v32c0 4.417969 3.582031 8 8 8h24v8c0 4.417969 3.582031 8 8 8h8.578125l15.421875 208.59375c.3125 4.183594 3.804688 7.417969 8 7.40625h256c4.199219.011719 7.691406-3.222656 8-7.40625l15.425781-208.59375h8.574219c4.417969 0 8-3.582031 8-8v-8h24c4.417969 0 8-3.582031 8-8v-32c.347656-85.882812-54.507812-162.269531-136-189.382812v-10.617188c0-4.417969-3.582031-8-8-8zm-104 16h96v16h-96zm192 184v16h-80v-16zm-136 64c-13.253906 0-24 10.746094-24 24v16c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8c0-13.253906-10.742188-24-24-24-13.253906 0-24 10.746094-24 24v16c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8v-120h144v144c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8v-56c0-13.253906-10.742188-24-24-24zm-120-48h-32v-16h32zm-40 16h40v16h-40zm272.570312 232h-241.136718l-14.816406-200h23.382812v56c0 13.253906 10.746094 24 24 24 13.257812 0 24-10.746094 24-24v-16c0-4.417969 3.582031-8 8-8s8 3.582031 8 8c0 13.253906 10.746094 24 24 24 13.257812 0 24-10.746094 24-24v-16c0-4.417969 3.582031-8 8-8s8 3.582031 8 8v56c0 13.253906 10.746094 24 24 24 13.257812 0 24-10.746094 24-24v-80h71.386719zm31.429688-216h-88v-16h88zm32-40v24h-16v-8c0-4.417969-3.582031-8-8-8v-24c0-4.417969-3.582031-8-8-8h-304c-4.417969 0-8 3.582031-8 8v24c-4.417969 0-8 3.582031-8 8v8h-16v-24c-.320312-77.019531 47.667969-145.980469 120-172.441406v4.441406c0 4.417969 3.582031 8 8 8h112c4.417969 0 8-3.582031 8-8v-4.441406c72.335938 26.460937 120.324219 95.421875 120 172.441406zm0 0"/><path d="m120 216h16v16h-16zm0 0"/><path d="m120 248h16v16h-16zm0 0"/></svg>
						</div>
						<div class="service_right">
							<h2 class="subheading"><a href="#">Wood Solutions</a></h2>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 ">
					<div class="service_section">
						<div class="service_number">
							<svg height="90" viewBox="0 0 480 480" width="90" xmlns="http://www.w3.org/2000/svg"><path d="m480 8h-130.503906c-11.871094 0-21.496094 9.625-21.496094 21.496094v426.503906c0 8.835938 7.164062 16 16 16s16-7.164062 16-16 7.164062-16 16-16h16c8.835938 0 16 7.164062 16 16s7.164062 16 16 16h16c8.835938 0 16-7.164062 16-16s7.164062-16 16-16h8" fill="#e02871"/><path d="m0 8h130.496094c11.878906-.003906 21.507812 9.625 21.503906 21.503906v426.496094c0 8.835938-7.164062 16-16 16s-16-7.164062-16-16-7.164062-16-16-16h-16c-8.835938 0-16 7.164062-16 16s-7.164062 16-16 16h-16c-8.835938 0-16-7.164062-16-16s-7.164062-16-16-16h-8" fill="#e02871"/><path d="m152 56h176v368h-176zm0 0" fill="#81d0d3"/><path d="m152 24h176v32h-176zm0 0" fill="#603813"/><path d="m32 96h16v128h-16zm0 0" style="fill: #f5f5f5;"/><path d="m323.425781 16h-166.851562c-5.015625-9.789062-15.078125-15.9609375-26.078125-16h-130.496094v16h130.496094c7.453125.007812 13.496094 6.050781 13.503906 13.503906v426.496094c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8v-64h-16v41.472656c-2.5625-.949218-5.269531-1.445312-8-1.472656h-16c-2.730469.027344-5.4375.523438-8 1.472656v-161.472656h-16v184c0 4.417969-3.582031 8-8 8h-16c-4.417969 0-8-3.582031-8-8v-112h-16v89.472656c-2.5625-.949218-5.269531-1.445312-8-1.472656h-8v16h8c4.417969 0 8 3.582031 8 8 0 13.253906 10.746094 24 24 24h16c13.253906 0 24-10.746094 24-24 0-4.417969 3.582031-8 8-8h16c4.417969 0 8 3.582031 8 8 0 13.253906 10.746094 24 24 24s24-10.746094 24-24v-24h160v24c0 13.253906 10.746094 24 24 24s24-10.746094 24-24c0-4.417969 3.582031-8 8-8h16c4.417969 0 8 3.582031 8 8 0 13.253906 10.746094 24 24 24h16c13.253906 0 24-10.746094 24-24 0-4.417969 3.582031-8 8-8h8v-16h-8c-2.730469.027344-5.4375.523438-8 1.472656v-89.472656h-16v112c0 4.417969-3.582031 8-8 8h-16c-4.417969 0-8-3.582031-8-8v-184h-16v161.472656c-2.5625-.949218-5.269531-1.445312-8-1.472656h-16c-2.730469.027344-5.4375.523438-8 1.472656v-57.472656h-16v80c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8v-426.496094c.003906-7.453125 6.042969-13.496094 13.496094-13.503906h130.503906v-16h-130.503906c-10.996094.0429688-21.054688 6.214844-26.070313 16zm-163.425781 48h72v168h-72zm0 184h72v168h-72zm88 168v-168h72v168zm72-184h-72v-168h72zm-160-184v-16h160v16zm0 0"/><path d="m432 96h16v128h-16zm0 0" style="fill: #f5f5f5;"/></svg>
						</div>
						<div class="service_right">
							<h2 class="subheading"><a href="#">House Painting</a></h2>
							<p class="paragraph">DESCRIPTION TO BE WRITTEN</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>