<!DOCTYPE html>
<html lang="en">
<!-- Header Start -->
<head>
	<title>{{title}}</title>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="colors, creative, home renovation, house maintenance, interior, paint, painter, painting, Painting company, responsive, sketch, photography, portfolio, artists, artwork,">
	<meta name="MobileOptimized" content="320">
	<!--start theme style-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/animate.css"/>
	<link rel="stylesheet" type="text/css" href="/css/custom_animation.css"/>
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/err.css"/>
	<!-- favicon link-->
	<link rel="icon" type="image/ico" href="/images/favicon.png">
</head>
<body>

        {{{body}}}
<!--section10 end-->	
<!--theme js-->	
	<script src="/js/jquery.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jQuery.scrollSpeed.js"></script>
	<script src="/js/swiper.min.js"></script>
	<script src="/js/countdown.js"></script>
	<script src="/js/jquery.countTo.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNdePPJKYq0ptBV_AFi_4RnmUtMa1ZLFg&libraries=places">
	</script>
	<script src="/js/jquery.geocomplete.min.js"></script>
	<script src="/js/jquery.googlemap.js"></script> 
	<script src="/js/custom.js"></script>
</body>
</html>