<head >
    <link href="css/custom.css" rel="stylesheet">
	<br>
<h2 style='text-align:center'>Behr Colors</h2>
<hr>
<input type="text" id="myInput" onkeyup="mySearch()" placeholder="Search...">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Name</th>
    <th style="width:40%;">Label</th>
	<th style="width:40%;">Hex</th>
  </tr>
  <tbody>

  </tbody>
</table>
</head>