
<div class="container text-center">
  <table class="table text-center" id="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Hex</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr id='allColors'>
      </tr>
    </tbody>
  </table>
</div>

