<head >
    <link href="css/custom.css" rel="stylesheet">

{{!-- <div class="container text-center" >
  <table class="table text-center" id="table">
		<thead>
			<tr>
			 <th>Add</th>
			 <th>Behr Color Name</th>
        	 <th>Behr Color Label</th>
        {{!-- <th>Hex</th> --}}
        	<th>Color</th>
			</tr>
		</thead>
		<tbody>
			<tr  id='allColors'>
			</tr>
		</tbody>
	</table>
</div> --}}



<h1><span class="blue"></span>Behr<span class="blue"></span> <span class="yellow">Colors</pan></h1>

<table class="container">
	<thead>
		<tr>
			<th><h1>Add</h1></th>
			<th><h1>Behr Color Name</h1></th>
			<th><h1>Behr Label</h1></th>
			<th><h1>Color</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr id='allColors'>
	
		</tr>

	</tbody>
</table>

</head>

