<head >
    <link href="css/custom.css" rel="stylesheet">

<div class="container text-center" >
  <table class="table text-center" id="table">
		<thead>
			<tr>
			 <th style="text-align:left">Behr Color Name</th>
        	 <th style="text-align:left">Behr Color Label</th>
        {{!-- <th>Hex</th> --}}
        	<th style="text-align:left">Color</th>
			</tr>
		</thead>
		<tbody>
			<tr  id='allColors'>
			</tr>
		</tbody>
	</table>
</div>
</head>