<head >
    <link href="css/custosm.css" rel="stylesheet">

<div class="container text-center" >
  <table class="table text-center" id="table">
		<thead>
			<tr>
		
			 <th>Behr Color Name</th>
        	 <th>Behr Color Label</th>
        {{!-- <th>Hex</th> --}}
        	<th>Hex</th>
			</tr>
	</table>
</div>
</head>

