	<div id="finalp">
		<div class="finalp">
			<div class="finalp-404">
				<h1><span></span></h1>
			</div>
			<h3>Thank you for your message!</h3>
			<hr>
			   <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="/" target="g" style="margin: 5px;" id="downloadResume">
                        <i class="fas fa-download mr-2"></i>Download Resume</a>
                </div>
			<br>
			<a href="/">homepage</a>
		</div>
	</div>




